<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col social item mx-auto">
                    <a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/mhno.8/"></a>
                    <a class="twitterBtn smGlobalBtn" href="https://twitter.com/mh_no_8"></a>
                    <a class="googleplusBtn smGlobalBtn" href="/"></a>
                    <a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/in/minhngo-3598/"></a>
                </div>
            </div>
            <p class="copyright">ASEAN © 2020</p>
        </div>
    </footer>
</div>