<div name="" class="footer">
    <footer>
        <div name="" class="container">
            <div name="" class="row">
                <div name="" class="col social item mx-auto">
                    <button name="facebook" class="facebookBtn smGlobalBtn" href="https://www.facebook.com/mhno.8/"></button>
                    <button name="twitter" class="twitterBtn smGlobalBtn" href="https://twitter.com/mh_no_8"></button>
                    <button name="googleplus" class="googleplusBtn smGlobalBtn" href="/"></button>
                    <button name="linkedin" class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/in/minhngo-3598/"></button>
                </div>
            </div>
            <p name="" class="copyright">ASEAN © 2020</p>
        </div>
    </footer>
</div>